<% provide(:title, "About") %>
<body>
  <h1>About</h1>
  <p>
    This website was made as part of an individual project for the
    <a href="https://csc324-326.sites.grinnell.edu/"><em>CSC 324 Software Development</em>
    </a> class at Grinnell College.
  </p>
</body>
