<% provide(:title, "About") %>
<body>
  <h1>About</h1>
  <p>
    This website was made with the help of Hartl's tutorial and developed using the web-application
    framework Ruby on Rails. I created this website as part of an individual project for the
    <a href="https://csc324-326.sites.grinnell.edu/"><em>CSC 324 Software Development</em>
    </a> class at Grinnell College.
  </p>
  <%= image_tag("rails.png", size: "80x100", alt: "Rails Logo")%>
</body>
