<% provide(:title, "About") %>
<body>
  <h1>About</h1>
  <p>
    This website was made with the help of Hartl's tutorial.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Semper auctor neque vitae tempus quam pellentesque nec nam. Integer vitae justo eget magna fermentum iaculis eu. Metus vulputate eu scelerisque felis. Massa enim nec dui nunc. Ultrices dui sapien eget mi proin sed. Feugiat in fermentum posuere urna. Amet consectetur adipiscing elit ut. Et ultrices neque ornare aenean euismod. Sit amet risus nullam eget. Molestie a iaculis at erat pellentesque adipiscing commodo elit. Mi proin sed libero enim sed. Ornare lectus sit amet est placerat. Sollicitudin tempor id eu nisl nunc.
  </p>

  <p>
    Semper auctor neque vitae tempus quam pellentesque nec. Lacus vel facilisis volutpat est velit egestas dui. Pharetra massa massa ultricies mi. Hendrerit gravida rutrum quisque non. Neque convallis a cras semper auctor. Ornare suspendisse sed nisi lacus sed viverra tellus in. Nunc non blandit massa enim nec dui nunc. Volutpat blandit aliquam etiam erat velit scelerisque. Mi ipsum faucibus vitae aliquet nec ullamcorper. Orci nulla pellentesque dignissim enim sit amet. Enim praesent elementum facilisis leo vel fringilla est. Libero enim sed faucibus turpis in.
  </p>
  <p>
    Lorem ipsum generated <a href="https://loremipsum.io/generator/?n=2&t=p">here</a>
  </p>
  <p>
    This website was made as part of an individual project for the
    <a href="https://csc324-326.sites.grinnell.edu/"><em>CSC 324 Software Development</em>
    </a> class at Grinnell College.
  </p>
</body>
