<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Help</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      This website was created with the Ruby on Rails Tutorial at the
      <a href="https://www.railstutorial.org/book">
        Rails Tutorial
      </a>
       static websites section.
    </p>
  </body>
</html>
