<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  This website generates four wellness habits to foster a healthy and happy lifestyle.
  Although there are many more, here we focus on four
  major types of wellness: physical, mental, social, and intellectual.
  Navigate to the <%= link_to "home page", root_path %> to generate your
  habits for today!
</p>
