<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  This website generates four wellness habits to foster a healthy and happy lifestyle.
  Although there are many more, here we focus on four
  major types of wellness: physical, mental, social, and intellectual. With this website,
  you can generate healthy habits that are easy and convenient to follow every day.
</p>
<p>
Eventually, this website will have a feature where you can create your own
account. On your account, you will be able to add your own
healthy habits or edit some of the existing ones. But to get started today,
simply navigate to the <%= link_to "home page", root_path %> and click the button
to generate some habits!
</p>
