<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Healthy Habits</h1>
  <h2>
    Mental, physical, and emotional health is important for happiness and overall
    well-being. Click the button below to generate 4 healthy habits you should work
    on today!
  </h2>

  <%= link_to "Generate Habits", '/habits', class: "btn btn-lg btn-primary" %>

  <!-- Can add sign up button in 5.1.1 -->
</div>

<!-- <%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
-->
