<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Healthy Habits</h1>
  <h2>
    Sign up to get personalized healthy habits to work on every day.
  </h2>

  <%= link_to "Sign Up", '/habits', class: "btn btn-lg btn-primary" %>
<p id="login">Already have an account? <%= link_to "Log in", contact_path %></p>
<hr class="align-self-end" style="background: white;">
<h2>
  Don't want to create an account? Click the button below to generate healthy habits
  without one.
</h2>
<%= link_to "Generate Habits", '/habits', class: "btn btn-lg btn-primary" %>

</div>

<!-- <%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
-->
