<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>CSC324 Individual Project</h1>
    <p>
        This is the homepage for an website created for the
        <a href = "https://csc324-326.sites.grinnell.edu/">Software Development</a>
        class at Grinnell College.
    </p>
  </body>
</html>
