<% provide(:title, "Login") %>
<h1>Log in </h1>
<p>
  This page will later have a form that allows users to log in. My idea
  is to display the name of the user that is currently logged in on the
  Habits page, and possibly some personalized habits that the user can edit.
  Since I haven't created the form to log in yet, I will instead
  display the users' information that I currently have in the database here to
  satisfy the requirements of HW 8. Note that this will be deleted later.
</p>

<h2>List of users:</h2>
