<footer class="footer">
  <small>
    Visit the <a href="https://www.grinnell.edu">Grinnell College Website</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
